<div class="contain">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="form_box forgot_form">
                    <h1>@Html.TitleForPage(T("Change Password").ToString())</h1>
                    <p>@T("Your password has been changed successfully.") </p>
                    <fieldset>
                        <div class="form-group">
                            <a href="@Url.Content("~/Users/Account/LogOn")" class="btn btn-default btn-main bt-white">BACK TO LOGIN</a>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>