<div class="form-group">
    <div class="checkboxmain">@*regcheckbox*@
        <input type="checkbox" name="UserCustomPart.Iwouldliketoreceiveemailupdates.Value" id="UserCustomPart_Iwouldliketoreceiveemailupdates_Value" checked="checked" value="true" />
        <div class="btn-group">
            <label for="UserCustomPart_Iwouldliketoreceiveemailupdates_Value">
                <span class="fa fa-check-square fa-lg"></span>
                <span class="fa fa-square-o fa-lg"></span>
                <span class="content">@T("I would like to receive email updates")</span>
            </label>
        </div>
    </div>
</div>